html{
    background-color: #777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 960px;

}

header, nav, section, article, aside, footer {
    background-color: #ebebeb;
}